#footer-region
  
h2#tweets-total= tweets.length + " Tweets"
h4.subheader Tracking keywords

dl.sub-nav
  dt Filter:
  each keyword in keywords
    dd.active.update-keyword(data-keyword= keyword)
      a.keyword-types(href='#')= keyword
  dd
    a |
  dd.active(data-chart='Pie')
    a.update-chart.chart-types(href='#') Pie
  dd(data-chart='Doughnut')
    a.update-chart.chart-types(href='#') Doughnut
  dd(data-chart='PolarArea')
    a.update-chart.chart-types(href='#') Polar area
  dd(data-chart='Bar')
    a.update-chart.chart-types(href='#') Bar
  dd(data-chart='Line')
    a.update-chart.chart-types(href='#') Line
  dd(data-chart='Radar')
    a.update-chart.chart-types(href='#') Radar
  dd
    a |
  dd
    a(href='#', data-reveal-id='date-modal') Date range
  
.current-chart
  canvas#myChart
.current-chart-legend
  each dataPoint in chartData
    br
    .chartBox(style= "background-color:" + dataPoint.color + "; display:inline-block")
    span= dataPoint.keyword + " (" + dataPoint.value + " tweets  " + dataPoint.percentage + "%)"
        
hr
h3.subheader Individual tweets
ul.tweets
  each tweet in displayedTweets
    li.tweet 
      .row
        .small-3.columns
          img(src=tweet.user.profile_image_url)
        .small-8.columns
          h6
            a.user-name(href='http://www.twitter.com/#{tweet.user.screen_name}', target='_blank')=tweet.user.name + " said:" 
          span.text= tweet.text 
        hr
        // 
          span.keywords Tracked by: #{tweet.keywords}
          span.lang= tweet.lang
          span.source= tweet.source
          span.user-friends-count=tweet.user.friends_count + " Friends"
      
  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)


h1 Tweets by language
ul.tweets
  each val in lang
    li= val[0] + ": " + val[1] + " : " + (Math.round((val[1]/tweets.length)*100)).toString() + "%"

h2 Tweets by source
ul.tweets
  each val in source
    - var html = "<li>" + val[0].charAt(0).toUpperCase() + val[0].slice(1) + ": " + val[1] + " : " + (Math.round((val[1]/tweets.length)*100)).toString() + "%" + "</li>"
    | !{html}