#footer-region

h1#tweets-total= tweets.length + " Tweets"
hr

h2 Tracking
  Tracking
  each keyword in keywords
    button.update-keyword.group-toggle.selected(data-keyword=keyword)=keyword
    
h4
  a(href='/users/' + user.id) To edit your keywords click here
  h2 Date range
  .date-range
    label(for="from") From
    input#from(type="text", name="from")
    label(for="to") to
    input#to(type="text", name="to")
    button#submit-date-range Go
  
  br
  h2 Chart type
  .chart-types
    button.update-chart.group-radial.selected(data-chart="Pie") Pie
    button.update-chart.group-radial(data-chart="Doughnut") Doughnut
    button.update-chart.group-radial(data-chart="PolarArea") Polar area
    button.update-chart.group-radial(data-chart="Bar") Bar
    button.update-chart.group-radial(data-chart="Line") Line
    button.update-chart.group-radial(data-chart="Radar") Radar
  .current-chart
    canvas#myChart
  .current-chart-legend
    each dataPoint in chartData
      br
      .chartBox(style= "background-color:" + dataPoint.color + "; display:inline-block")
      span= dataPoint.keyword + " (" + dataPoint.value + " tweets  " + dataPoint.percentage + "%)"
  

hr
ul.tweets
  each tweet in displayedTweets
    li.tweet 
      img(src=tweet.user.profile_image_url)
      span.user-screen-name=tweet.user.screen_name 
      span.user-name=tweet.user.name
      span.text= tweet.text
      span.keywords Tracked by: #{tweet.keywords}
      span.lang= tweet.lang
      span.source= tweet.source
      span.user-friends-count=tweet.user.friends_count + " Friends"
      
  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)


h1 Tweets by language
ul.tweets
  each val in lang
    li= val[0] + ": " + val[1] + " : " + (Math.round((val[1]/tweets.length)*100)).toString() + "%"

h2 Tweets by source
ul.tweets
  each val in source
    - var html = "<li>" + val[0].charAt(0).toUpperCase() + val[0].slice(1) + ": " + val[1] + " : " + (Math.round((val[1]/tweets.length)*100)).toString() + "%" + "</li>"
    | !{html}