hr
h1= tweets.length + " Tweets"
h1 Sorted by language

each count, val in lang
  h2= val + ": " + count + " : " + (Math.round((count/tweets.length)*100)).toString() + "%"
  
h1 Most recent tweet
h2= recent[0].created_at
h3= recent[0].text
h3= recent[0].name
h3= recent[0].screen_name
h3= recent[0].friends_count

h1 Verified or unverified
each section, val in verified
  h2= val + ": " + verified.length

h1 Tweets by source
each count, val in source
  - var html = val.charAt(0).toUpperCase() + val.slice(1) + ": " + count + " : " + (Math.round((count/tweets.length)*100)).toString() + "%"
  | !{html}