hr
h1= tweets.length + " Total"
hr

h1 Most recent tweet
p=recent[0].created_at
p
  img(src=recent[0].user.profile_image_url)
p=recent[0].user.name
p=recent[0].text

p=recent[0].user.friends_count + " Friends"

h1 Tweets by language
ul.tweets
  each val in lang
    li= val[0] + ": " + val[1] + " : " + (Math.round((val[1]/tweets.length)*100)).toString() + "%"

h2 Tweets by source
ul.tweets
  each val in source
    - var html = "<li>" + val[0].charAt(0).toUpperCase() + val[0].slice(1) + ": " + val[1] + " : " + (Math.round((val[1]/tweets.length)*100)).toString() + "%" + "</li>"
    | !{html}