- var action = '/users'
- action += user.isNew? '' : '/' + user.id + '/update'

form(action=action, method="post")
  .row
    .small-6.columns
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      input#name(type='text', name="first_name", placeholder='First name', value=user.first_name)
    .small-6.columns
      input#name(type='text', name="last_name", placeholder='Last name', value=user.last_name)
  .row
    .small-12.columns
      input#email(type='text', name="email", placeholder='Email', value=user.email)
  .row
    .small-12.columns
      input#password(type='password', name="password", placeholder='Password')
  .row
    .small-12.columns
      input#competitors.has-tip.tip-right(type='text', name="keywords", placeholder='Competitors', value=user.keywords, title='Separate competitors with commas. Example: "Five Guys, FastFries, Bobs Burger"', data-tooltip)  
    
  if user.isNew        
    .form-actions
      button.btn.btn-primary(type='submit') Sign up
      
    p By clicking Sign Up, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.
    
  else 
    .form-actions
      button.btn.btn-primary(type='reset') Reset
      button.btn.btn-primary(type='submit') Update
      a(href="/users/"+req.user.id, title="Cancel") Cancel
      
  include ../includes/_errors
